---
import Layout from '../layouts/Layout.astro';
import photo1 from "../assets/photo1.png";
import photo2 from "../assets/photo2.png";
import photo3 from "../assets/photo3.png";
import photo4 from "../assets/photo4.png";
import photo5 from "../assets/photo5.png";
import photo6 from "../assets/photo6.png";
---

<Layout title="My team page">
	<header>
		<h1>The creative crew</h1>
		<section>
			<h2>Who we are</h2>
			<p>We are team of creatively diverse. driven. innovative individuals working in various locations from the world.</p>
		</section>
	</header>
	<main>
    <figure>
      <img src={photo1.src} alt="">
      <figcaption>Bill Mahoney</figcaption>
			<span>Product owner</span>
    </figure>
    <figure>
      <img src={photo2.src} alt="">
      <figcaption>Saba Cabrera</figcaption>
			<span>Art director</span>
    </figure>
    <figure>
			<img src={photo3.src} alt="">
      <figcaption>Shae Le</figcaption>
			<span>Tech Lead</span>
    </figure>
    <figure>
			<img src={photo4.src} alt="">
      <figcaption>Skylah Lu</figcaption>
			<span>UX Designer</span>
    </figure>
    <figure>
			<img src={photo5.src} alt="">
      <figcaption>Griff Richards</figcaption>
			<span>Developer</span>
    </figure>
    <figure>
			<img src={photo6.src} alt="">
      <figcaption>Stan John</figcaption>
			<span>Developer</span>
    </figure>
  </main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap');
	/* Header */
	header {
		display: flex;
		flex-direction: row;
		gap: 2%;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		margin: 110px auto auto auto;
	}
	header > h1 {
		font-family: 'PT Serif', serif;
		font-size: 36px;
		font-weight: 700;
		letter-spacing: -1.62px;
		width: fit-content;
		margin-bottom: 38px;
	}
	header > section {
		display: grid;
		max-width: 439px;
		grid-template-rows: repeat(2, auto);
	}
	section > h2 {
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
	}
	section > p {
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		font-weight: 400;
		margin-top: 10px;
	}

	/* Main */
	main {
		display: grid;
		grid-template-columns: repeat(3, auto);
		justify-content: center;
		margin-top: 96px;
		gap: 5.4%;
		width: 100%;
	}
	main > figure {
		max-width: 238px;
		max-height: 347px;
	}

	figure {
		column-gap: 10px;
		display: grid;
		grid-template-columns: 238px auto;
		grid-template-rows: repeat(2, auto);
	}

	figure > span {
		font-family: 'PT Serif', serif;
		font-size: 12px;
		grid-column: 2;
		grid-row: 1 / 4;
		height: fit-content;
		line-height: normal;
		text-transform: uppercase;
		width: fit-content;
		writing-mode: vertical-lr;
	}

	figure > figcaption {
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		grid-column: 1 / 4;
		grid-row: 2;
		line-height: normal;
		width: fit-content;
	}

	figure > img {
		max-width: 100%;
		max-height: 347px;
		overflow: clip;
	}

	main > :nth-child(3n +2){
		margin-top: 66px;
	}
</style>
